/* The Overlay (background) */
.overlay {
     
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s; 
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    color: #818181;
    display: block; 
    transition: 0.3s; 
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.menu {
    position: fixed;
    top: 15px;
    right: 15px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.collapsible {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    font-family: 'Quicksand', sans-serif;
}

.collapsible-body {
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
}

#logo {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-left: 10px;
}

.icon {
    width: 50px;
    margin-top: 20px;
}

.icon { transition: all .2s ease-in-out; }
.icon:hover { transform: scale(1.1); }

.iconBox {
    text-align: center;
}

h2 {
    font-size: 20px;
    margin-top: -9px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

.mainIntro {
    text-align: center;
    font-family: 'Poiret One', cursive;
}

.info {
    margin-top: 5px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

#btn {
    color: black;
}

.work {
    border-radius: 50%;
    width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 40px;
}

.badge {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
}

.badgeBox {
    text-align: center;
    margin-top: 80px;
}